<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home YelpCamp</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, recusandae ipsam. Dolores debitis amet velit nemo
        odio! Odio veritatis consectetur architecto modi hic fuga incidunt eligendi, rerum ipsum recusandae repudiandae.
        Illo voluptatum, quis aut et tempore quibusdam excepturi corrupti quo vero delectus aliquid distinctio
        dignissimos debitis, reiciendis maxime, esse nisi? Fuga nesciunt voluptates, rem inventore ab eos neque
        doloremque in.
        Nostrum corrupti accusamus nesciunt fugit! Minima obcaecati molestias neque. Tempora deleniti quasi nisi
        expedita, assumenda velit odit, veniam modi placeat, quod tempore ipsa ipsum possimus vitae porro eos architecto
        beatae.
        Tempore, voluptate iste. Libero natus velit corporis quo blanditiis pariatur deleniti itaque corrupti
        distinctio! Vitae ea fugit animi! Id eligendi eum repudiandae praesentium nam consectetur deleniti omnis, eius
        pariatur itaque?</p>
</body>

</html>